{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>school</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
  <!-- responsive style -->
  <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>

<body>
 
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="">
            <img src=" {% static 'images/logo.png' %} " alt="" />
            <span>
              SCHOOL
            </span>
          </a>
      </div>

    </header>
    
    <section class="slider_section ">
      <div class="">
        
      </div>
      <div id="carouselExampleIndicators" class="" data-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      You Can <br>
                      Study <br>
                      Here
                    </h1>
                    <p>
                      Education is the most powerful weapon which you can use to change the world.” —Nelson Mandela.
                    </p>
                    <div class="btn-box">
                      <a href=" {% url "register" %} " class="btn-1">
                        Register
                      </a>
                      <a href="{% url "login" %}" class="btn-2">
                        login
                      </a>
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src=" {% static 'images/slider-img.png' %} " alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>

      </div>

    </section>
  
  </div>


 

 
  


  <script src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
  <script src=" {% static 'js/bootstrap.js' %} "></script>
  <script src=" {% static 'js/custom.js' %} "></script>


</body>
</body>

</html>