{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>school</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href=" {% static 'css/bootstrap.css' %} " />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href=" {% static 'css/style.css' %} " rel="stylesheet" />
  <!-- responsive style -->
  <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/sample.css' %}">
</head>

<body>
 
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href=" {% static 'index.html' %} ">
            <img src=" {% static 'images/logo.png' %} " alt="" />
            <span>
              SCHOOL
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              
              
            </ul>
            <div class="user_option">
              <a href=" {% static '' %} ">
                <span>
                  Login
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="">
        
      </div>
      <div id="carouselExampleIndicators" class="" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-5 offset-md-1">
                  <div class="detail-box">
                    <h1>
                      You Can <br>
                      Study <br>
                      Here
                    </h1>
                    <p>
                      Education is the most powerful weapon which you can use to change the world.” —Nelson Mandela.
                    </p>
                    <div class="btn-box">
                      <a href=" {% url "register" %} " class="btn-1">
                        Register
                      </a>
                      <a href="{% url "login" %}" class="btn-2">
                        login
                      </a>
                    </div>
                  </div>
                </div>
                <div class="offset-md-1 col-md-4 img-container">
                  <div class="img-box">
                    <img src=" {% static 'images/slider-img.png' %} " alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>

      </div>

    </section>
    <!-- end slider section -->
  </div>


 

  <!-- footer section -->
 
  <!-- end  footer section -->


  <script src=" {% static 'js/jquery-3.4.1.min.js' %} "></script>
  <script src=" {% static 'js/bootstrap.js' %} "></script>
  <script src=" {% static 'js/custom.js' %} "></script>


</body>
</body>

</html>