{% extends "admin/dash_board.html" %}


{% block content %}


<table class="table table-dark" style="margin-left: 50px; margin-top: 100px;">
    <thead>
      <tr>
        <th scope="col">no</th>
        <th scope="col">class</th>
        <th scope="col">division</th>
        <th scope="col">subject</th>
        
        
        
      </tr>
    </thead>
    <tbody>
        {% for x in room_class %}
          
       
      <tr>
        <td>{{forloop.counter}}</td>
        <td>{{x.name_class}}</td>
        <td>{{x.section}}</td>
       
      </tr>

      {% endfor %}
    </tbody>
  </table>


  {% endblock content %}