{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>school admin</title>
    <link rel="stylesheet" href=" {% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/vendors/css/vendor.bundle.base.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %} " />
    <link rel="stylesheet" href=" {% static 'assets/css/style.css' %} " />
    <link rel="shortcut icon" href=" {% static 'assets/images/favicon.png' %} " />
  </head>
  <body>
    <div class="container-scroller">
      <!-- Sidebar Section -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
          <!-- Optional logo or brand name here -->
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href=" {% url "home" %} ">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'std_table' %}">
              <i class="mdi mdi-contacts menu-icon"></i>
              <span class="menu-title">Students data</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "class_rooms" %}">
              <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              <span class="menu-title">class room</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "class_create_room" %}">
              <i class="mdi mdi-chart-bar menu-icon"></i>
              <span class="menu-title">Create class room</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=" {% static 'pages/tables/basic-table.html' %} ">
              <i class="mdi mdi-table-large menu-icon"></i>
              <span class="menu-title">student Tables</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.bootstrapdash.com/demo/breeze-free/documentation/documentation.html">
              <i class="mdi mdi-file-document-box menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Navbar Section -->
      <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
        <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
          <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href=" {% static 'index.html' %} ">
            <img src=" {% static 'assets/images/logo-mini.svg' %} " alt="logo" />
          </a>
          <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
            <i class="mdi mdi-menu"></i>
          </button>
          <!-- Search Bar Section -->
          <ul class="navbar-nav">
            <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
              <form class="nav-link form-inline mt-2 mt-md-0">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i class="mdi mdi-magnify"></i>
                    </span>
                  </div>
                </div>
              </form>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}
           
            
      {% endblock  %}
      <!-- Main Content Section  will be placed) -->
      <div class="main-content">
        <div class="container-fluid">
          <!-- Align content here -->

          

        </div>
      </div>

    </div> <!-- container-scroller -->

    <!-- JS Libraries -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'assets/vendors/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/vendors/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/vendors/flot/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'assets/vendors/flot/jquery.flot.fillbetween.js' %}"></script>
    <script src="{% static 'assets/vendors/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'assets/vendors/flot/jquery.flot.pie.js' %}"></script>

    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/misc.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
  </body>
</html>
